<!-- <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a routerLink="/reading" class="navbar-item"><b>Sinusoid</b></a>
        <a routerLink="/reading" class="navbar-item"><b>PT100</b></a>
    </div>
</nav>
 -->
 <!-- <chart *ngIf='(!isInvalidOffset && !isInvalidLimit && isValidData  && isReadingsAvailable)' [type]="assetChart" [data]="assetReadingValues"
    [options]=""></chart>
 -->



<div class="section">
 <!--     <a class="button is-link is-outlined is-rounded">Sinusoid</a>
    &nbsp;
    <a class="button is-link is-outlined is-rounded">PT100</a>
    <br/><br/> -->
    <router-outlet></router-outlet>
    <br/>
</div>
<app-footer></app-footer>

